<div class="msg-container flex-msg-container"
     [ngClass]="{'msg-sent-container': !incoming, 'msg-receive-container': incoming}">
  <div>
    <a *ngIf="incoming" class="msg-author" (click)="openContactInfo(message.author)">{{message.author.name}}</a>
  </div>
  <p class="msg-text flex-text" [ngClass]="{'msg-sent-text': !incoming, 'msg-receive-text': incoming}"
     [innerHTML]="(message.text | urlString | hashString)">
  </p>
  <p *ngIf="message.data" class="msg-text flex-text">{{message.data.file.name}}</p>
  <img *ngIf="message.data && !message.data?.file.type.startsWith('image')"
       src="../../../assets/img/icons/file-outline.svg"
       (click)="open()" class="msg-img">
  <img class="msg-img" *ngIf="message.data?.file.type.startsWith('image')" [src]="message.data.res" width="600px"
       (click)="openImageDialog()">
  <p class="msg-timestamp flex-timestamp"
     [ngClass]="{'msg-sent-timestamp': !incoming, 'msg-receive-timestamp': incoming}">
    {{message.sendAt | time}}
  </p>
</div>
