<div class="msg-container flex-msg-container"
     [ngClass]="{'msg-sent-container': !flags.incoming, 'msg-receive-container': flags.incoming}">
  <div>
    <a *ngIf="flags.incoming" class="msg-author" (click)="openContactInfo(message.author)">{{message.author.name}}</a>
  </div>
  <p class="msg-text flex-text" [ngClass]="{'msg-sent-text': !flags.incoming, 'msg-receive-text': flags.incoming}"
     [innerHTML]="(message.text | urlString | hashString)">
  </p>
  <div class="msg-timestamp flex-timestamp" [ngClass]="{'msg-sent-timestamp': !flags.incoming}">
    <p class="" style="margin-bottom: 0; float: left; left: 0; top: 0;"
       [ngClass]="{'msg-sent-timestamp': !flags.incoming, 'msg-receive-timestamp': flags.incoming}">
      {{message.sendAt | time}}
    </p>
    <img *ngIf="!flags.incoming && !flags.arrived && !flags.error" src="../../../assets/img/icons/clock-fast.svg" style="float: right;position: absolute; bottom: 0; right: 0">
    <img *ngIf="!flags.incoming && flags.arrived && !flags.error" src="../../../assets/img/icons/check.svg" style="float: right;position: absolute; bottom: 0; right: 0">
    <img *ngIf="!flags.incoming && flags.error" src="../../../assets/img/icons/close-octagon-outline.svg" style="float: right;position: absolute; bottom: 0; right: 0">
  </div>
</div>
