
.card-wide.mdl-card {
  width: 100%;
  border: 3px solid #363636;
  max-height: 588px;
}

h2{
  color: #FAFAFA;
}

.icon-btn-primary {
  color: white;
}

.icon-btn-primary:hover {
  color: white;
}

.btn-primary {
  background-color: #FD4282;
  color: #FAFAFA;
}

.card-wide > .mdl-card__media {
  background: #424242 url('../../../assets/img/wallpaper.svg');
  padding: 0 10px 0 10px;
}

.flex-form-container {
  display: flex;
}

.flex-attachment-button {
  order: 1;
  flex-grow: 1;
  margin-right: 5px;
  background-color: transparent;
}

.flex-input-field {
  order: 2;
  width: 90%;
  flex-grow: 9;
}

.flex-send-button {
  order: 2;
  flex-grow: 1;
}

.messageSearchContainer {
  width: 70%;
  margin-left: 10px;
}

#searchMessagesInputContainer {
  width: 80%;
}

#searchMessagesInput {
  color: #FAFAFA;
}
