<div app-mdl class="card-wide mdl-card mdl-shadow--2dp dark-card">
  <!--Message Search-->
  <div class="messageSearchContainer" [hidden]="!showMessageSearch">
    <md-input-container id="searchMessagesInputContainer">
      <input mdInput placeholder="Search" #searchMessagesInput id="searchMessagesInput" spellcheck="false"
             autocomplete="off" (keydown.esc)="closeMessageSearch()">
    </md-input-container>
    <!--Chat Card Header-->
    <button md-icon-button class="icon-btn-primary" (click)="closeMessageSearch()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <!--Chat Menu-->
  <div class="mdl-card__menu">
    <button md-icon-button [matMenuTriggerFor]="menu" class="icon-btn-primary">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="openInfoDialog()">
        <md-icon>info</md-icon>
        <span>View Info</span>
      </button>
      <button md-menu-item (click)="closeMessageSearch()">
        <md-icon>search</md-icon>
        <span>Search for Messages</span>
      </button>
      <button md-menu-item (click)="clearHistory()">
        <md-icon>delete_sweep</md-icon>
        <span>Delete History</span>
      </button>
    </md-menu>
    <button md-icon-button class="icon-btn-primary" (click)="closeWindow.emit(channel)">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="mdl-card__title">
    <span class="mdl-chip__contact mdl-color-text--white colored-buttons" (click)="openInfoDialog()">{{channel.name | initials}}</span>
    <h2 class="mdl-card__title-text">{{channel.name}}</h2>
  </div>
  <div class="mdl-card__media" (dragover)="onDragEnter($event)" (drop)="sendFile($event)" id="window-drag-zone">
    <!--Chat Window-->
    <app-chat-window #chatWindow [messages]="viewMessages"></app-chat-window>

    <!--Drag and Drop Overlay-->
    <div *ngIf="drop" (dragleave)="onDragLeave()" class="file-overlay dropZone"></div>

    <button md-icon-button class="scroll-down-btn" (click)="chatWindow.scrollToBottom()">
      <img src="../../../assets/img/icons/scroll-down.svg">
    </button>

    <!-- Floating Buttons Overlay-->
    <div *ngIf="floatingButton" class="floating-buttons-container">
      <button md-mini-fab [@floatingButton] (click)="onClickAttachment('img')" class="floating-button"><img
        src="../../../assets/img/icons/file-image.svg"></button>
      <button md-mini-fab [@floatingButton] (click)="onClickAttachment('doc')" class="floating-button"><img
        src="../../../assets/img/icons/file-pdf.svg"></button>
      <button md-mini-fab [@floatingButton] disabled (click)="onClickAttachment('vid')" class="floating-button"><img
        src="../../../assets/img/icons/file-video.svg"></button>
    </div>
  </div>
  <!--Message Field-->
  <div class="mdl-card__actions mdl-card--border">
    <md-progress-bar mode="query" *ngIf="!fileLoaded"></md-progress-bar>
    <form novalidate [formGroup]="chatForm" (ngSubmit)="sendMessage()">
      <div class="flex-form-container">
        <button md-mini-fab class="flex-attachment-button" type="button" (click)="onFloatingButton()">
          <md-icon>attachment</md-icon>
          <input #fileInput type="file" class="upload" (change)="sendFile($event)" multiple>
        </button>
        <md-input-container class="flex-input-field">
          <input mdInput placeholder="Send a Message..." id="{{name}}-input" spellcheck="false"
                 formControlName="message" class="icon-btn-primary" autocomplete="off">
        </md-input-container>
        <button md-mini-fab class="flex-send-button btn-primary" [disabled]="!chatForm.valid" [hidden]="!chatForm.valid"
                type="submit">
          <md-icon>send</md-icon>
        </button>
      </div>
    </form>
  </div>
</div>

