<div app-mdl class="card-wide mdl-card mdl-shadow--2dp dark-card">
  <div class="mdl-card__menu">
    <button md-icon-button [matMenuTriggerFor]="menu" style="color: #FAFAFA">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item disabled>
        <md-icon>info</md-icon>
        <span>View Info</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>search</md-icon>
        <span>Search for Messages</span>
      </button>
      <button md-menu-item (click)="clearHistory()">
        <md-icon>delete_sweep</md-icon>
        <span>Delete History</span>
      </button>
    </md-menu>
    <button md-icon-button style="color: #FAFAFA" (click)="closeWindow.emit(channel)">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="mdl-card__title">
    <i *ngIf="connectionClosed" class="material-icons">cloud_off</i>
    <span class="mdl-chip__contact mdl-color-text--white" style="background-color: #FD4282">{{channel.name.charAt(0).toUpperCase()}}</span>
    <h2 class="mdl-card__title-text" style="color: #FAFAFA">{{channel.name}}</h2>
  </div>
  <div class="mdl-card__media" style="padding: 0 10px 0 10px;">
    <app-chat-window [messages]="messages"></app-chat-window>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <form novalidate [formGroup]="chatForm" (ngSubmit)="sendMessage()">
      <div class="flex-form-container">
        <button type="button" style="color: #FAFAFA; background-color: #424242"
                class=" mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab flex-attachment-button">
          <i class="material-icons">attachment</i>
        </button>
        <md-input-container class="flex-input-field">
          <input mdInput placeholder="Send a Message..." id="{{name}}-input" spellcheck="false" (focus)="this.writing.emit(true)" (blur)="this.writing.emit(false)"
                 formControlName="message" style="color: #FAFAFA">
        </md-input-container>
        <button md-mini-fab class="flex-send-button" [disabled]="!chatForm.valid" [hidden]="!chatForm.valid"
                type="submit" style="color: #FAFAFA; background-color: #FD4282">
          <md-icon>send</md-icon>
        </button>
      </div>
    </form>
  </div>
</div>

