.main-content {
  background-color: #FAFAFA;
  justify-content: center;
}

md-card {
  margin-bottom: 30px;
}

md-card-footer {
  width: 100%;
  text-align: center;
}

md-input-container {
  width: 80%;
}

.oc-content {
  width: 1210px;
}

.one-chat {
  width: 100%;
}

.multiple-chat {
  width: 100%;
}

.add-chat-card {
  min-height: 100px;
}

.card-wrapper {
  width: 55%;
}

.cc-chat-overview-channels {
  padding-top: 25px;
}
