.main-content{
  background-color: #FAFAFA;
  justify-content: center;
}

.one-chat {
  width: 55%;
}

.multiple-chat {
  width: 90%;
}

.add-chat-card {
  min-height: 100px;
}

.card-wrapper {
  width: 55%;
}
