.main-content{
  background-color: #FAFAFA;
  justify-content: center;
}

.oc-content {
  width: 1210px;
}

.one-chat {
  width: 100%;
}

.multiple-chat {
  width: 100%;
}

.add-chat-card {
  min-height: 100px;
}

.card-wrapper {
  width: 55%;
}

.cc-chat-overview-channels {
  padding-top: 25px;
}
