.channel-list {
  max-height: 320px;
  overflow: auto;
}

.mdl-list div {
  text-align: center;
}

.channel-list:hover {
  border-left: 2px solid #424242;
  border-right: 2px solid #424242;
}

.channel-list::-webkit-scrollbar {
  display: none;
}

#channelSearchInputContainer {
  width: 100%;
}

