<md-card class="dark-card">
  <md-card-title>
    <span class="mdl-layout-title cc-chat-overview-channels">Channels</span>
  </md-card-title>
  <form action="#">
    <md-input-container class="example-full-width" id="channelSearchInputContainer">
      <input mdInput placeholder="Search" #channelSearch id="channelSearchInput" spellcheck="false">
    </md-input-container>
  </form>
  <md-card-content class="channel-list">
    <ul class="mdl-list">
      <div>
        <span *ngIf="!viewChannelList?.length" class="mdl-chip">
          <span class="mdl-chip__text">No Channels were Found</span>
        </span>
      </div>
      <li>
        <app-channel-list-detail *ngFor="let channel of viewChannelList" [channel]="channel"
                                 (addNewChannel)="onConnectNewChannel($event)">Searching for Channels
        </app-channel-list-detail>
      </li>
    </ul>
  </md-card-content>
</md-card>
