<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll main-color">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">ChatClient</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <div class="mdl-tooltip" data-mdl-for="tt1">
          Follow
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon" (click)="openNewChatCard()">
          <i class="material-icons">add</i>
        </button>
        <a class="mdl-navigation__link mdl-js-" href="/">About <i class="material-icons">info</i></a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <span class="mdl-layout-title">Channels</span>
      <app-channel-list (newChannel)="chatframe.onConnectNewChannel($event)"></app-channel-list>
      <span class="mdl-layout-title">Contacts</span>
      <app-contact-list></app-contact-list>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid main-content">
        <div class="card-wrapper">
          <app-chat-frame #chatframe>

          </app-chat-frame>
        </div>
      </div>
    </div>
  </main>
</div>
