<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll" style="background-color: #4ba3c7">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">ChatClient</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link mdl-js-" href="/">About <i class="material-icons">info</i></a>
        <!--<a class="mdl-navigation__link" href="">Link</a>-->
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Contacts</span>
    <nav class="mdl-navigation">
      <app-contact-list></app-contact-list>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid" style="width: 90%; background-color: #FAFAFA; justify-content: center">
        <app-chat-card class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--stretch"></app-chat-card>
      </div>


    </div>
  </main>
</div>
