<md-toolbar color="primary">
  <!-- Title -->
  <span class="mdl-layout-title">ChatClient</span>
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer"></div>
  <!-- Navigation -->
  <button class="mdl-button mdl-js-button mdl-button--icon" (click)="openNewChatCard()">
    <i class="material-icons">add</i>
  </button>
  <button routerLink="chat" class="mdl-button mdl-js-button mdl-button--icon" routerLink="chat">
    <i class="material-icons">forum</i>
  </button>
  <button routerLink="chat" class="mdl-button mdl-js-button mdl-button--icon" routerLink="auth-login">
    <i class="material-icons">eject</i>
  </button>

</md-toolbar>
<div class="oc-content-wrapper"  >
  <router-outlet>
  </router-outlet>
</div>
