.oc-content-wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
}

.mat-toolbar.mat-primary {
  background-color: #363636;
}

.one-chat {
  width: 55%;
}

.multiple-chat {
  width: 90%;
}

.add-chat-card {
  min-height: 100px;
}

.oc-navbar-icon-margin {
  margin-right: 10px;
}
