<md-toolbar color="primary">
  <!-- Title -->
  <span class="mdl-layout-title">ChatClient</span>
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer"></div>
  <!-- Navigation -->
  <button routerLink="chat" class="mdl-button mdl-js-button mdl-button--icon oc-navbar-icon-margin" mdTooltip="Chat">
    <i class="material-icons">forum</i>
  </button>
  <button routerLink="settings" class="mdl-button mdl-js-button mdl-button--icon oc-navbar-icon-margin" mdTooltip="Settings">
    <i class="material-icons">settings</i>
  </button>
  <button routerLink="auth-login" mdTooltip="Login" class="mdl-button mdl-js-button mdl-button--icon oc-navbar-icon-margin">
    <i class="material-icons">eject</i>
  </button>
  <a href="https://github.com/unic0ding/openchat" target="_blank" mdTooltip="GITHUB" class="test">
   <img src="../assets/img/github-link.svg">
  </a>

</md-toolbar>
<md-progress-bar mode="query" *ngIf="!loaded"></md-progress-bar>
<div class="oc-content-wrapper">
  <router-outlet>
  </router-outlet>
</div>
