<div class="card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__menu">
    <button id="chat-card-menu"
            class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="chat-card-menu">
      <li disabled class="mdl-menu__item">Search for Messages</li>
      <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" (click)="clearHistory()">Clear History</li>
      <li disabled class="mdl-menu__item">View Info</li>
    </ul>
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
            (click)="closeWindow.emit(channel)">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="mdl-card__title">
    <i *ngIf="connectionClosed" class="material-icons">cloud_off</i>
    <span *ngIf="!showSpinner" class="mdl-chip__contact mdl-color-text--white" style="background-color: #4ba3c7">{{channel.name.charAt(0).toUpperCase()}}</span>
    <div *ngIf="showSpinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" style="margin-right:5px;"></div>
    <h2 class="mdl-card__title-text">{{channel.name}}</h2>
    <span class="mdl-badge" [attr.data-badge]="notification"></span>
  </div>
  <div class="mdl-card__media" style="padding: 0 10px 0 10px;">
    <app-chat-window [messages]="messages"></app-chat-window>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <form novalidate [formGroup]="chatForm" (ngSubmit)="sendMessage()">
      <div class="flex-form-container">
        <button type="button"
                class=" mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab flex-attachment-button">
          <i class="material-icons">attachment</i>
        </button>
        <div class="mdl-textfield  mdl-js-textfield flex-input-field" style="width: 90%">
          <input class="mdl-textfield__input" type="text" id="{{name}}-input" formControlName="message"
                 (focus)="updateNotification(0)" placeholder="Send a Message...">
          <label class="mdl-textfield__label" for="{{name}}-input"></label>
        </div>
        <button
          class="btn-primary mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored flex-send-button"
          [disabled]="!chatForm.valid" [hidden]="!chatForm.valid" type="submit">
          <i class="material-icons">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
