
.card-wide.mdl-card {
  width: 100%;
  max-height: 588px;
}

.btn-primary {
  color: white;
  background-color: #ff8a80;
}
.btn-primary:hover {
  color: white;
  background-color: #c85a54;
}

.btn-primary:active {
  background-color: #c85a54;
}

.btn-primary:focus {
  background-color: #c85a54;
}

.card-wide > .mdl-card__media {
  background: #fff url('../../../assets/img/wallpaper.jpg') no-repeat bottom;
  background-size: cover;
}

.flex-form-container {
  display: flex;
}
.flex-attachment-button {
  order: 1;
  flex-grow: 1;
  margin-right: 5px;
  background-color: transparent;
}

.flex-input-field {
  order: 2;
  flex-grow: 9;
}

.flex-send-button {
  order: 2;
  flex-grow: 1;
}
