@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  background-color: #424242;
}

.dark-card {
  background-color: #363636;
}

.colored-buttons {
  cursor: pointer;
  color: #FAFAFA;
  background-color: #FD4282;
}

.msg-sent-link {
  color: #84FFFF;
}
