/* You can add global styles to this file, and also import other style files */
.main-color {
  background-color: #4ba3c7;
}

.main-background {
  background-color: #FAFAFA;
}

body {
  background-color: #dfdfdf;
}
